{% extends "base.html" %}
{% block title %} All Wordlists{% endblock %}
{% block javascript %}
function subscribe(id,name)
{
   if (confirm("Are you sure you want to subscribe to '" + name + "'?"))
   {
      document.getElementById('wordlist_'+id).submit()
   }
   return false;
}
{% endblock %}
{% block content %}
<div style="width: 80%; margin-left: auto; margin-right: auto; text-align: center;">
<table align="center">
    <tr>
        <th colspan="2">Available Wordlists</th>
    </tr>
    <tr>
        <th>Wordlist</th>
        <th>Subscribe</th>
    </tr>
    {% for wordlist in wordlists %}
    <tr>
        <td><a href="/wordlist/{{wordlist.id}}/view">{{wordlist.name}}</a></td>
        <td>
            <form action="/wordlist/list" method="post" id="wordlist_{{wordlist.id}}">
                <input type="hidden" name="wordlist_id" value="{{wordlist.id}}" />
                <a href="#" onclick="javascript: subscribe('{{wordlist.id}}','{{wordlist.name}}'); return false;">[X]</a>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>    
</div>

{% endblock %}
