{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="/account/login">
    <table>
        <tr>
                <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="login" /></td>
        </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
Don't have an account? <a href="/account/signup">Sign up</a>, it will only take a second
{% endblock %}
